.main-container {
  display: flex;
  margin: 0px ;
  justify-content: space-evenly ;
}
.button-container {
  display: flex;
  justify-content: space-evenly ;
  vertical-align="bottom"
}
.upcoming {
  width: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px ;
}

.container {
  display: flex;
  margin: 0px ;
  justify-content: space-evenly ;
}

.names {
  width: 100px;
}

.profile-picture {
  max-width: 200px;
  max-height: 200px;
}
